@tailwind base;
@tailwind components;
@tailwind utilities;

.whiteSpace{
    white-space: pre-line;
}

body{
    background-color: rgb(15 23 42);
    color: white;
}

p{
    display: block;
    margin-bottom: 15px;
}

h1{
    font-size: x-large;
}